.nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: inline-flex;
  padding: 0.3rem;
}

.list>button {
  box-shadow: inset 0px 0px 0px 0px #f7c5c0;
  cursor: pointer;
  border-radius: 30px;
  border: beige;
  display: inline-block;
  padding: 6px 10px;
}

.list>button:hover {
  opacity: 0.9;
  background-color: #f6a059;
}

.list>button:active {
  position: relative;
  top: 1px;
}