.container {
  height: 30px;
  width: 20%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 70%;
  height: 35px;
  font-size: 0.9rem;
  outline: none;
  margin-left: 106px;
}

.btn {
  height: 105%;
  width: 4.5rem;
  display: flex;
  cursor: pointer;
  border: none;
  background: rgb(250, 164, 51);
  color: #FFF;
  margin: 0 0 5px;
  margin-top: 5px;
  padding: 10px;
  font-size: 15px;
}

.btn:hover {
  background: rgb(239, 153, 40);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}